body{
  margin: 0;
  padding: 0;
  padding-top: 70px;
 
}
.navbar{
    display: flex;
    width: 100vw;
    height: 70px;
    background-color: rgb(8, 19, 11);
    color: white;
    left: 0;
    top: 0;
    position: fixed;


}
.navsec1{
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
    flex-wrap: wrap;
}
.navsec2{
    display: inline;
    margin-right: 20px;
    text-align: center;
    list-style: none;
    flex-wrap: wrap;
    
    align-self: center;
}
input{
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: orange;
    cursor: pointer;
}



#logo{
    width:250px;
}

/* NO PAGE */

.nopage{
    width: 100%;
    background-color:  rgb(8, 19, 11);
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    display:flex;
    align-items: center;
    text-align: center;
   
}
.nopagesection{
  
   margin: auto;
    width: 100%;
}
.nopagemessage{
    color: azure;
}
#logonopage{
  
        width:450px;
       
    
}
.rubik-pixels-regular {
    font-family: "Rubik Pixels", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
  }
  
  /* LOG IN/ SIGN UP */
.credentialform{
    width: 100%;
    height: 100vh;
    background-color:  rgb(8, 19, 11);
    display: flex;
    text-align: center;
    top: 0;
    left: 0;
    position: fixed;
  }
.credentialform>form{
    width: 100%;
    color: aliceblue;
}
.credentialform>form>h2{
    color: orange;
}
.credentialform>form>input{
    margin-bottom: 10px;
    width: 270px;
}
.credentialform>form>button{
    width: 270px;
    height: 30px;
}
.credentialbox{
    background-color: aliceblue;
    width: 30%;
    align-self: center;
    color: black;
    margin-left:35% ;
    margin-left:35% ;
    border-radius:3%;
    border: 5px orange solid;
}
.tac{
    font-size: 12px;
}
.credentialquestion{
    color: blue;

}
/* SELL PAGE */

.sellpage{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.Sellingsection{
    text-align: center;
    color: rgb(233, 217, 188);
    background-color: black;
    border: 5px solid orange;
    margin-top: 2%;
    width: 600px;
    height: 100%;
    
    }

.sellinginput{
    border: 3px solid rgb(223, 153, 73);
    margin-bottom: 15px;
    width: 300px;
    height: 30px;
    
}
.choosefile{
    
}

/* forgotPassword */

.forgotPassword{
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 6%;
   justify-content: center;
   text-align: center;
     align-items: center;
    
}
#forgotImage{
    height: 200px;
    border: 10px solid black;
    border-radius: 70%;
}